<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        span {
            display: block;
            justify-content: space-evenly;
        }
        div {
            display: inline-block; 
            border: 2px solid black; 
            margin: 10px;
            width: 200px;
            height: 300px;
        }
    </style>
</head>
<body style="align-items: center; padding-top: 50px; width: device-width">
    <h1 style="text-align: center;">Welcome!</h1>
    <span>
        {% for x in range(0,times): %}
            <div style="background-color: {{ color }};"></div>
        {% endfor %}
    </span>
</body>
</html>